//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	padding: 23px 50px;
	font-weight: 700;
	@include adaptiveValue("font-size", 17, 14);
	line-height: math.div(21, 17);
	text-transform: uppercase;
	color: $whiteColor;
	background: linear-gradient(90deg, #003976 0%, #0062CA 100%);
	box-shadow: 10px 10px 47px rgba(0, 57, 118, 0.79);
	border-radius: 20px;
	transition: opacity 0.3s ease 0s;

	@media (max-width:$mobile) {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&._fw {
		width: 100%;
	}
}

.button-st {
	display: inline-flex;
	padding: 16px 21px;
	font-weight: 800;
	@include adaptiveValue("font-size", 16, 14);
	line-height: math.div(20, 16);
	color: $whiteColor;
	background: #003976;
	border-radius: 20px;
	transition: opacity 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.8;
		}
	}

	&._fw {
		width: 100%;
	}
}