//====================================================================================================
.main {
	position: relative;
	@include adaptiveValue("padding-top", 140, 100);
	@include adaptiveValue("padding-bottom", 240, 60);

	&__img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: -1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__container {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: 30px;
	}

	&__content {}

	&__content-title {
		max-width: 646px;
		font-weight: 800;
		@include adaptiveValue("font-size", 45, 33);
		line-height: math.div(56, 45);
		margin-bottom: 15px;

		span {
			color: $blueColor;
		}
	}

	&__content-text {
		max-width: 551px;
		font-weight: 700;
		@include adaptiveValue("font-size", 20, 16);
		line-height: math.div(24, 20);
		margin-bottom: 25px;
	}

	&__content-btn {
		@media (max-width:$mobile) {
			margin-bottom: 30px;
		}
	}

	&__photo {
		position: relative;
		width: 358px;
		z-index: 2;
		margin: auto;

		img {
			width: 100%;
			z-index: 5;
			position: relative;
			left: 20%;

			@media (max-width:$tablet) {
				left: 0;
				width: 100%;
			}
		}

		&:after {
			content: '';
			position: absolute;
			width: 476px;
			height: 476px;
			top: 0;
			left: 0;
			background: url(../img/main/main-affter.svg) center center/contain no-repeat;
			z-index: 1;

			@media (max-width:$mobile) {
				width: 100%;
			}
		}
	}
}

// product ====================================================================================================
.product {

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 30px;
	}

	&__card {
		display: flex;
		flex: 0 1 48%;
		align-items: center;

		@media (max-width:$tablet) {
			flex: 1 1 100%;
		}

		&:last-child {
			text-align: left;
			margin: auto;
		}
	}
}

.card {
	padding: 20px 30px;
	background: #FFFFFF;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
	transition: all 0.5s ease 0s;
	transform: translateY(-50%);

	@media (max-width:$mobile) {
		padding: 25px;
		transform: translateY(-10%);
	}

	&:hover {
		background-color: $blueColor;
		color: white;
	}

	&:hover a {
		color: white;
	}

	&__content {}

	&__img {
		height: 164px;
		display: flex;
		align-items: center;
		@include adaptiveValue("margin-right", 50, 20);

		@media (max-width:$mobile) {
			height: auto;
		}

		img {
			width: 100%;
		}
	}

	&__title {
		font-weight: 800;
		@include adaptiveValue("font-size", 25, 18);
		line-height: math.div(30, 25);
		@include adaptiveValue("margin-bottom", 46, 20);
	}

	&__link {
		position: relative;
		font-weight: 800;
		@include adaptiveValue("font-size", 16, 14);
		line-height: math.div(20, 16);
		letter-spacing: 0.015em;
		text-transform: uppercase;
		color: $blueColor;
	}
}

// special ========================================================================================================================================================
.special {
	position: relative;

	&__container {
		position: relative;
		border-radius: 20px;
		padding: 66px 0 44px 0;
		display: block;
		text-align: center;
		margin: 0 auto;

		@media (max-width:$mobile) {
			padding: 30px;
		}


		&::after {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: url(../img//special/special-bg.jpg) center center/cover no-repeat;
			border-radius: 20px;
			z-index: -1;

			@media (max-width:$tablet) {
				filter: blur(3px);
			}
		}
	}

	&__row {
		text-align: left;
		margin: auto;
		max-width: 518px;
		color: $whiteColor;
		font-weight: 800;
		margin-left: 40%;

		@media (max-width:$tablet) {
			margin: 20px;
		}
	}

	&__row-sutitle {
		@include adaptiveValue("font-size", 30, 18);
		line-height: math.div(37, 30);
		text-transform: uppercase;
		margin-bottom: 5px;
	}

	&__row-title {
		@include adaptiveValue("font-size", 50, 26);
		line-height: math.div(61, 50);
		text-transform: uppercase;
		margin-bottom: 18px;
	}

	&__row-text {
		@include adaptiveValue("font-size", 30, 14);
		line-height: math.div(37, 30);
		margin-bottom: 25px;
	}

	&__row-btn {
		text-align: center;
		font-weight: 700;
		line-height: math.div(21, 17);
		@include adaptiveValue("font-size", 17, 13);
		box-shadow: 10px 10px 40px 15px rgba(255, 255, 255, 0.55);
	}


}